

<div class="container">
	<h1>Portfolio</h1>
</div>
    
<div class="banner">
      <ul>

      <li><%= image_tag("http://s4.postimg.org/vmrvwyv25/Screen_Shot_2015_09_29_at_8_30_42_PM.png", :size => "780x540") %></li>
      <li><%= image_tag("http://s23.postimg.org/gh2cj9n2z/Screen_Shot_2015_09_29_at_8_30_33_PM.png", :size => "780x540") %></li>
      <li><%= image_tag("http://s4.postimg.org/vmrvwyv25/Screen_Shot_2015_09_29_at_8_30_42_PM.png", :size => "780x540") %></li>

      </ul>
      
</div>

<div class="supporting">
  <div class="container">

    <div class="row">
      <% 
=begin %>
      <% @works.each do |work| %>
      <div class="col-md-4">
        <a class="thumbnail" href="#">
          <h3><%= work.name %></h3>
          <p><%= image_tag("../assets/website-screenshots/#{work.imgurl}.png", class: "img-responsive") %></p>
          <p><%= work.description %></p>
        </a>
      </div>    
      <% end %>
      <% 
=end %>

    </div>
    
  </div>
</div>

