
<div class="container">
	<h1>Portfolio</h1>
</div>
    
<div class="banner">
    <div class="slider">
      <%= image_tag("../assets/website-screenshots/outbox.png") %>
      <%= image_tag("../assets/website-screenshots/boltnetwork.png") %>
      <%= image_tag("../assets/website-screenshots/calendar.png") %>
    </div>
</div>

<div class="supporting">
  <div class="container">

    <div class="row">
      <% 
=begin %>
      <% @works.each do |work| %>
      <div class="col-md-4">
        <a class="thumbnail" href="#">
          <h3><%= work.name %></h3>
          <p><%= image_tag("../assets/website-screenshots/#{work.imgurl}.png", class: "img-responsive") %></p>
          <p><%= work.description %></p>
        </a>
      </div>    
      <% end %>
      <% 
=end %>

    </div>
  </div>
      	<script>
		$(function() {
    	$('.banner').unslider();
		});
	</script>
</div>