<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  
  <!-- font styles -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>

  <!-- bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
    <!-- Twitter Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
  
  
<body>
	<!-- Fixed navbar -->
  
    <nav class="navbar navbar-default" role="navigation">

        <div id="navbar">
          <ul class="nav navbar-nav">       
            <li><%= link_to "Welcome Page", "/" %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Portfolio", portfolio_path %></li>
            <li><%= link_to "Contact Page", contact_path %></li>
          </ul>
        </div>
        
    </nav> 
  
<%= yield %>

  <footer class="footer">    
	  <div class="container">

	    	<p class="text-muted">&copy; 2015 Kai Kuroda</p>
      
        <p class="social-icons">
        	<a href="mailto:kkuroda27@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>            
        	<a href="http://www.github.com/kkuroda27"><i class="fa fa-github fa-3x"></i></a>        
       	  <a href="http://www.linkedin.com/in/kaitokuroda"><i class="fa fa-linkedin fa-3x"></i></a>               		
      </p>
	  </div>
	</footer>
  

</body>
</html>
